body {
    background-color: #3c3f41;
    color: #efeee6;
    font-family: "Andale Mono";
}

.card {
    max-width: 150px;
}

.game-container {
    display: flex;
    height: 100%;
}

.board-container {
    flex: 7;
    background-color: #61ad75;

}

.info-container {
    flex: 3;
}
