body {
  background-color: #3c3f41;
  color: #efeee6;
  font-family: "Andale Mono";
}

.card {
  width: 180px;
}

.game-container {
  display: flex;
  /* height: 100%; */
}

.board-container {
  flex: 7.5;
  background-color: #61ad75;
  max-height: 100%;
}

.info-container {
  flex: 2.5;
}

img[class^="card"]:not(:first-child) {
  margin-left: -95px;
}

.deck-dp-container {
  display: inline-flex;
  width: 100%;
}
