body {
  background-color: #3c3f41;
  color: #efeee6;
  font-family: "Andale Mono";
}

.card {
  width: 180px;
}

/* to do: consolidate with card class */
.card-grabbed {
  width: 180px;
  margin-bottom: 15px;
}

.card.in-focus {
  border-bottom: dashed 4px red;
}

.game-container {
  display: flex;
  /* height: 100%; */
}

.board-container {
  flex: 7.5;
  background-color: #61ad75;
  max-height: 100%;
  min-width: 1024px;
}

.info-container {
  flex: 2.5;
}

.dialog-box-question {
  margin-left: 10px;
}

.dialog-box-answers {
  margin-left: 20px;
  text-decoration: underline;
  color: #c5abba;
}
.dialog-box-answers:hover {
  color: #f3dc65;
}

.scoreboard {
  height: 80%;
}

img[class^="card"]:not(:first-child) {
  margin-left: -100px;
}

.deck-dp-container {
  display: inline-flex;
  width: 100%;
}
